@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    scrollbar-width: normal;
  }
}

@layer components {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  .my_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3rem;
    width: calc(100vw -3rem);
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  .overlay {
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);

    z-index: 10000;
  }

  .sidebar {
    background: #fafafa;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    z-index: 10000;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
  }
  .radio__container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .radio__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  .radio__container:hover input ~ .checkmark {
    background-color: #cfcfcf;
  }
  .radio__container input:checked ~ .checkmark {
    background-color: white;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
  }

  .radio__container input:checked ~ .checkmark:after {
    display: block;
  }

  .radio__container .checkmark:after {
    top: 11px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #d87d4a;
  }

  .mobile_nav > *.active {
    color: #d87d4a;
  }
  .primary__nav > *.active {
    color: #d87d4a;
  }
  .footer__link > *.active {
    color: #d87d4a;
  }
  .cart__wrapper::-webkit-scrollbar {
    width: 4px;
  }
  .cart__wrapper::-webkit-scrollbar-thumb {
    background-color: #777;
  }

  .cart__wrapper::-webkit-scrollbar-track {
    background-color: #ccc;
  }
  .banner {
    background-position: center 88%;
  }

  input::placeholder {
    color: #cfcfcf;
  }

  .image_shadow {
    position: absolute;
    width: 20%;
    height: 24px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 10;
    filter: blur(10px);
  }
  .product:hover a {
    color: #d87d4a;
  }

  .outer__circle {
    border-radius: 50%;
  }

  .article_title {
    max-width: 50ch;
  }
  .inner__circle_child {
    border-radius: 50%;
  }
  @media (min-width: 768px) and (min-width: 428px) {
    .banner {
      background-position: center 82%;
    }
  }
  @media (min-width: 1024px) {
    .banner {
      background-position: center 80%;
    }
    .footer_text {
      width: 33.75rem;
    }

    .category div:nth-of-type(even) > .image_wrapper {
      order: 2;
    }
  }
}
